/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-admin .logot-container {
	display: block;
}
.logot-container, .wp-admin .logot-container .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
    justify-content: center;
}
